<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let player of players">
        <td>{{ player.id }}</td>
        <td>{{ player.name }}</td>
        <td><a href="mailto:{{ player.clubName}}">{{ player.clubName }}</a></td>
        <td> <button type="button" (click)="goToDetails(player.id)" class="btn btn-info">Go to details</button></td>

      </tr>
      </tbody>
    </table>
  </div>
</div>
